<aside>
    <div class="right-title">制作物集</div>
    <div class="link">
        <ul>
            <li>
                <a href="works/minecraft-addon.html">Java</a>
                <p>Javaによる制作物をコード付きで載せています</p>
            </li>
            <li>
                <a href="works/minecraft-addon.html">C++</a>
                <p>C++による制作物をコード付きで載せています</p>
            </li>
            <li>
                <a href="works/minecraft-addon.html">Python</a>
                <p>Pythonによる制作物をコード付きで載せています</p>
            </li>
            <li>
                <a target="_blank"
                    href="https://docs.google.com/spreadsheets/d/1AQgL1VgkS830LHmffohVtbmt7fXqu98wOAyaSAX0RtY/edit?usp=sharing">
                    スプレッドシート(大会管理)<br>
                </a>
                <p>関数とGASを用いて運営負担を削減</p>
            </li>
            <li>
                <a href="works/minecraft-addon.html">マイクラアドオン</a>
                <p>JavaScriptでマイクラの機能を拡張</p>
            </li>
        </ul>
    </div>
</aside>